.image-wrapper {
  position: relative;
  width: 200px;
  height: 200px;
}

.img {
  border: red 3px solid;
  position: absolute;
  /* top: 10px;
  left: 10px; */
  width: 100%;
  transition: opacity 0.5s ease;
}

.img-2 {
  opacity: 0;
}

.image-wrapper .img-1:hover {
  opacity: 0;
}

.image-wrapper .img-2:hover {
  opacity: 1;
}

/* .img.img-1:hover {
  opacity: 0;
}

.img.img-2:hover {
  opacity: 1;
} */
